In [1]:
import os
os.getcwd()

'C:\\Users\\Admin'

In [2]:
import numpy as np
import pandas as pd

In [3]:
#pd.set_option("display.max_rows",205) #To display all the rows
#pd.set_option("display.max_columns",15) #To display all the columns

# To load csv file

In [4]:

Auto=pd.read_csv("Automobile_data.csv")
Auto

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [5]:
Auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [6]:
Auto.shape

(205, 15)

In [7]:
Auto["symboling"].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [8]:
Auto["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [9]:
Auto["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [10]:
#We can use for loop for unique values of all columns in table or dataset

for col in Auto:
    print(col,":", Auto[col].unique())
    print("----------------------------------------------------------------")

symboling : [ 3  1  2  0 -1 -2]
----------------------------------------------------------------
normalized-losses : ['?' '164' '158' '192' '188' '121' '98' '81' '118' '148' '110' '145' '137'
 '101' '78' '106' '85' '107' '104' '113' '150' '129' '115' '93' '142'
 '161' '153' '125' '128' '122' '103' '168' '108' '194' '231' '119' '154'
 '74' '186' '83' '102' '89' '87' '77' '91' '134' '65' '197' '90' '94'
 '256' '95']
----------------------------------------------------------------
make : ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
----------------------------------------------------------------
fuel-type : ['gas' 'diesel']
----------------------------------------------------------------
body-style : ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
----------------------------------------------------------------
drive-wheels : ['rwd' 'fwd' '4wd']
----------------------------------------------------------------
engine-location : ['front' 'rear']
----------------------------------------------------------------
width : [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
----------------------------------------------------------------
height : [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
----------------------------------------------------------------
engine-type : ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
----------------------------------------------------------------
engine-size : [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
----------------------------------------------------------------
horsepower : ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' '?' '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
----------------------------------------------------------------
city-mpg : [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
----------------------------------------------------------------
highway-mpg : [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
----------------------------------------------------------------
price : [13495 16500 13950 17450 15250 17710 18920 23875 12000 16430 16925 20970
 21105 24565 30760 41315 36880  5151  6295  6575  5572  6377  7957  6229
  6692  7609  8558  8921 12964  6479  6855  5399  6529  7129  7295  7895
  9095  8845 10295 12945 10345  6785 10000 23000 11048 32250 35550 36000
  5195  6095  6795  6695  7395 10945 11845 13645 15645  8495 10595 10245
 10795 11245 18280 18344 25552 28248 28176 31600 34184 35056 40960 45400
 16503  5389  6189  6669  7689  9959  8499 12629 14869 14489  6989  8189
  9279  5499  7099  6649  6849  7349  7299  7799  7499  7999  8249  8949
  9549 13499 14399 17199 19699 18399 11900 13200 12440 13860 15580 16900
 16695 17075 16630 17950 18150 12764 22018 32528 34028 37028  9295  9895
 11850 12170 15040 15510 18620  5118  7053  7603  7126  7775  9960  9233
 11259  7463 10198  8013 11694  5348  6338  6488  6918  7898  8778  6938
  7198  7788  7738  8358  9258  8058  8238  9298  9538  8449  9639  9989
 11199 11549 17669  8948 10698  9988 10898 11248 16558 15998 15690 15750
  7975  7995  8195  9495  9995 11595  9980 13295 13845 12290 12940 13415
 15985 16515 18420 18950 16845 19045 21485 22470 22625]
----------------------------------------------------------------

In [11]:
#To check count of cars each fuel wise

Auto["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [12]:
#Filter out Gas fuel type

GAS=Auto[Auto["fuel-type"]=="gas"]
GAS

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,130,162,17,22,18950
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [13]:
GAS.shape

(185, 15)

In [14]:
#TO FILTEROUT DIESEL TYPE DATA

DIESEL=Auto[Auto["fuel-type"]=="diesel"]
DIESEL

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344
67,-1,93,mercedes-benz,diesel,sedan,rwd,front,70.3,56.5,ohc,183,123,22,25,25552
68,-1,93,mercedes-benz,diesel,wagon,rwd,front,70.3,58.7,ohc,183,123,22,25,28248
69,0,93,mercedes-benz,diesel,hardtop,rwd,front,70.3,54.9,ohc,183,123,22,25,28176
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600
90,1,128,nissan,diesel,sedan,fwd,front,63.8,54.5,ohc,103,55,45,50,7099
108,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,13200
110,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,13860
112,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,16900
114,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,17075
116,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,17950
158,0,91,toyota,diesel,sedan,fwd,front,64.4,53.0,ohc,110,56,34,36,7898
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
174,-1,65,toyota,diesel,sedan,fwd,front,66.5,54.9,ohc,110,73,30,33,10698
182,2,122,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7775
184,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7995
187,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68,37,42,9495
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470

In [15]:
DIESEL.shape

(20, 15)

In [16]:
#FIND COUNT OF CARS MAKER WISE
Auto["make"].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [17]:
#FIND THE HIGHEST PRICE OF CAR

Auto["price"].max()

45400

In [18]:
#FINDIND MAXIMUM PRICE ROW

Auto["price"].idxmax()  #idx stands for index of max value

74

In [19]:
#AFTER FINDING INDEX OF MAX PRICE FIND WHOLE DETAILS ABOUT THE CAR
Auto.iloc[74]

symboling                        1
normalized-losses                ?
make                 mercedes-benz
fuel-type                      gas
body-style                 hardtop
drive-wheels                   rwd
engine-location              front
width                         72.0
height                        55.4
engine-type                   ohcv
engine-size                    304
horsepower                     184
city-mpg                        14
highway-mpg                     16
price                        45400
Name: 74, dtype: object

In [20]:
#LOWEST PRICE OF CAR\

Auto["price"].min()

5118

In [21]:
#FIND THE LOWEST PRICE INDEX

Auto["price"].idxmin()

138

In [22]:
Auto.iloc[138:139,0:]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
138,2,83,subaru,gas,hatchback,fwd,front,63.4,53.7,ohcf,97,69,31,36,5118

In [23]:
#TOTAL VALUATION OF ALL CARS IN MY DATA


Auto["price"].sum()

2711633

In [24]:
#FIND THE SUM OF PRICE OF DIESEL CAR

DIESEL["price"].sum()

316763

In [25]:
#WHAT IS THE TOTAL PRICE FOR EACH CATEGORY OF MAKER?
#GROUP BY

Auto.groupby("make")["price"].sum()

make
alfa-romero       46495
audi             119155
bmw              208950
chevrolet         18021
dodge             70879
honda            106401
isuzu             50833
jaguar           103800
mazda            181099
mercedes-benz    269176
mercury           16503
mitsubishi       120117
nissan           187482
peugot           170380
plymouth          55744
porsche          137602
renault           19190
saab              91340
subaru           102495
toyota           316346
volkswagen       120930
volvo            198695
Name: price, dtype: int64

In [26]:
#FUEL TYPE WISE TOTAL PRICE
Auto.groupby("fuel-type")["price"].sum()

fuel-type
diesel     316763
gas       2394870
Name: price, dtype: int64

In [27]:
Auto.groupby("body-style")["price"].mean()

body-style
convertible    21890.500000
hardtop        22208.500000
hatchback      10015.800000
sedan          14502.260417
wagon          12371.960000
Name: price, dtype: float64

In [28]:
#MIN PRICE OF CAR BY ENGINE TYPE

Auto.groupby("engine-type")["price"].min()

engine-type
dohc      9298
dohcv    12000
l         5151
ohc       5195
ohcf      5118
ohcv     13499
rotor    10945
Name: price, dtype: int64

In [29]:
#TO CHECK AVERAGE HIGHWAY-MPG OF ALL FUEL TYPE

Auto.groupby("fuel-type")["highway-mpg"].mean()

fuel-type
diesel    34.750000
gas       30.318919
Name: highway-mpg, dtype: float64

In [30]:
#FIND TOTAL PRICE OF CAR BODY STYLEWISE AND FUEL TYPEWISE

Auto.groupby(["body-style","fuel-type"])["price"].sum()

body-style   fuel-type
convertible  gas           131343
hardtop      diesel         28176
             gas           149492
hatchback    diesel          7788
             gas           693318
sedan        diesel        221616
             gas          1170601
wagon        diesel         59183
             gas           250116
Name: price, dtype: int64

In [31]:
#WHAT IS AVERAGE HIGHWAY-MPG GIVEN BY EACH MAKER AND FUEL TYPE UNSER THEM?


Auto.groupby(["make","fuel-type"])["highway-mpg"].mean()

make           fuel-type
alfa-romero    gas          26.666667
audi           gas          24.142857
bmw            gas          25.375000
chevrolet      gas          46.333333
dodge          gas          34.111111
honda          gas          35.461538
isuzu          gas          36.000000
jaguar         gas          18.333333
mazda          diesel       40.500000
               gas          30.800000
mercedes-benz  diesel       25.000000
               gas          17.000000
mercury        gas          24.000000
mitsubishi     gas          31.153846
nissan         diesel       50.000000
               gas          31.941176
peugot         diesel       29.800000
               gas          24.000000
plymouth       gas          34.142857
porsche        gas          26.000000
renault        gas          31.000000
saab           gas          27.333333
subaru         gas          30.750000
toyota         diesel       38.666667
               gas          32.310345
volkswagen     diesel       43.000000
               gas          30.875000
volvo          diesel       27.000000
               gas          25.700000
Name: highway-mpg, dtype: float64

In [32]:
#PIC OUT ALL THE BMW CARS WITH HIGHWAY MPG MORE THAN 25.


Auto[(Auto["make"]=="bmw")&(Auto["highway-mpg"]>25)]

#We are giving 2 conditions inside the Dataframe == Auto[one for extracting bmw
#and second for extracting data more than 25 highway mpg from bmw

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
10,2,192,bmw,gas,sedan,rwd,front,64.8,54.3,ohc,108,101,23,29,16430
11,0,192,bmw,gas,sedan,rwd,front,64.8,54.3,ohc,108,101,23,29,16925
12,0,188,bmw,gas,sedan,rwd,front,64.8,54.3,ohc,164,121,21,28,20970
13,0,188,bmw,gas,sedan,rwd,front,64.8,54.3,ohc,164,121,21,28,21105

In [33]:
#PICK OUT THE DATA HAVINGG FUEL TYPE GAS OR HAVING HIGHWAY MPG>30

Auto[(Auto["fuel-type"]=="gas")|(Auto["highway-mpg"]>30)]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,130,162,17,22,18950
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [34]:
#DELETING UNWANTED COLUMN == DROP == AXIS=1==COLUMN

#DELETING AN UNWANTED SYMBOLING

Auto.drop("symboling",axis=1)

#this query drops only an column and give outpur it not affect on our data
#if we check data our data again we will be able to see all the column as it is.

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [35]:
#DROPING COLUMN PERMANANTLY

Auto=Auto.drop("symboling",axis=1)

#the abouve code should be run only once
#if we try to run it again we will get error because the column is already dropped

In [36]:
Auto

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [37]:
#DROPING MULTIPLE COLUMNS TOGETHER
NEWAUTO=Auto.drop(["drive-wheels","engine-location","width","height"],axis=1)
NEWAUTO

,normalized-losses,make,fuel-type,body-style,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,dohc,130,111,21,27,16500
2,?,alfa-romero,gas,hatchback,ohcv,152,154,19,26,16500
3,164,audi,gas,sedan,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,ohc,141,114,19,25,22625

In [38]:
#DELETING UNWANTED ROWS

Auto.drop(5,axis=0) #THIS WILL JUST GIVE US OUTPUT

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [39]:
#PERMANANTLY DELETING ROWS
Auto=Auto.drop(2,axis=0)
Auto
#this will delete the row permanantly any store in the variable

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
5,?,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [40]:
pip install jupyterthemes

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyterthemes in c:\users\admin\appdata\roaming\python\python39\site-packages (0.20.0)
Requirement already satisfied: ipython>=5.4.1 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (8.2.0)
Requirement already satisfied: notebook>=5.6.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (6.4.8)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (4.9.2)
Requirement already satisfied: matplotlib>=1.4.3 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (3.5.1)
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\admin\appdata\roaming\python\python39\site-packages (from jupyterthemes) (0.15.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.2)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.1)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.20)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (61.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: ply in c:\users\admin\appdata\roaming\python\python39\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (9.0.1)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.4)
Requirement already satisfied: tornado>=6.1 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (22.3.0)
Requirement already satisfied: nbconvert in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.4.4)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: ipykernel in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.9.1)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: nbformat in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.0)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.12)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: nest-asyncio>=1.5 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.5)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (21.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (302)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->jupyterthemes) (1.16.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.21)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (2.0.1)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.11.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.13)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.0)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.1.0)
Requirement already satisfied: jsonschema>=2.6 in c:\programdata\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.15.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (21.4.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=5.6.0->jupyterthemes) (2.3.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (2.0.5)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [41]:
pip install --upgrade jupyterthemes

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyterthemes in c:\users\admin\appdata\roaming\python\python39\site-packages (0.20.0)
Requirement already satisfied: ipython>=5.4.1 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (8.2.0)
Requirement already satisfied: notebook>=5.6.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (6.4.8)
Requirement already satisfied: matplotlib>=1.4.3 in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (3.5.1)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from jupyterthemes) (4.9.2)
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\admin\appdata\roaming\python\python39\site-packages (from jupyterthemes) (0.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.20)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.4)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.11.2)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: ply in c:\users\admin\appdata\roaming\python\python39\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (9.0.1)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.21.5)
Requirement already satisfied: argon2-cffi in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (21.3.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: nbformat in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.0)
Requirement already satisfied: ipykernel in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.9.1)
Requirement already satisfied: tornado>=6.1 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (22.3.0)
Requirement already satisfied: nest-asyncio>=1.5 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.5)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.13.1)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.12)
Requirement already satisfied: nbconvert in c:\programdata\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.4.4)
Requirement already satisfied: pywin32>=1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (302)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->jupyterthemes) (1.16.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.21)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (2.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.11.1)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.13)
Requirement already satisfied: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (4.1.0)
Requirement already satisfied: jsonschema>=2.6 in c:\programdata\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (4.4.0)
Requirement already satisfied: fastjsonschema in c:\programdata\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (2.15.1)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->notebook>=5.6.0->jupyterthemes) (0.18.0)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=5.6.0->jupyterthemes) (2.3.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.2.2)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython>=5.4.1->jupyterthemes) (2.0.5)
Note: you may need to restart the kernel to use updated packages.

In [43]:
Auto=Auto.drop([14,15,16,17],axis=0)
Auto

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
5,?,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [46]:
#RENAMING THE COLUMN HEADERS

Auto.rename(columns={"make":"manufacturer"},inplace=True)

In [47]:
Auto

,normalized-losses,manufacturer,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
5,?,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [48]:
#REMOVING DUPLICATES
Auto.drop_duplicates()
#this will delete all the duplicate rows

,normalized-losses,manufacturer,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
3,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
5,?,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [49]:
Auto=Auto.drop_duplicates()

In [50]:
Auto.shape
#as the shape remains same of data that means there were no duplicates in the data

(200, 14)

In [52]:
#to keep atleast one unique row which is needed in data 
#we have to drop other duplicates of such unique data

Auto=Auto.drop_duplicates(keep="first")

#to keep first entry as it is and delete other same entries

In [53]:
Auto.shape

(200, 14)

JOINS

In [54]:
#Creating DF1 with dictionary

dict1={"name":["Pooja","Ketan","Jinal","Hiren","Tina","Leena"],"SQL":[91,92,93,94,95,96]}
DF1=pd.DataFrame(dict1)
DF1

    name  SQL
0  Pooja   91
1  Ketan   92
2  Jinal   93
3  Hiren   94
4   Tina   95
5  Leena   96

In [56]:
dict2={"name":["Mohan","Pooja","Tina","Payal","Reena","Jinal","Leena","Umesh"],"Python":[81,82,83,84,85,86,87,88]}
DF2=pd.DataFrame(dict2)
DF2

    name  Python
0  Mohan      81
1  Pooja      82
2   Tina      83
3  Payal      84
4  Reena      85
5  Jinal      86
6  Leena      87
7  Umesh      88

In [57]:
#MERGING BOTH DF ON THE BASIS COMMON COLUMNS NAME

DF3=pd.merge(DF1,DF2,on="name")
DF3
#by default inner join will get perform on the basis of common column

    name  SQL  Python
0  Pooja   91      82
1  Jinal   93      86
2   Tina   95      83
3  Leena   96      87

In [58]:
#Full O+uter join
#match and unmatched data from both DF

DF4=pd.merge(DF1,DF2,on="name",how="outer")
DF4
#In front of unmatched data we can see Nan Values

    name   SQL  Python
0  Pooja  91.0    82.0
1  Ketan  92.0     NaN
2  Jinal  93.0    86.0
3  Hiren  94.0     NaN
4   Tina  95.0    83.0
5  Leena  96.0    87.0
6  Mohan   NaN    81.0
7  Payal   NaN    84.0
8  Reena   NaN    85.0
9  Umesh   NaN    88.0

In [59]:
#LEFT JOIN

DF5=pd.merge(DF1,DF2,on="name",how="left")
DF5
#it consider DF1 as a left because we write it first on syntax

    name  SQL  Python
0  Pooja   91    82.0
1  Ketan   92     NaN
2  Jinal   93    86.0
3  Hiren   94     NaN
4   Tina   95    83.0
5  Leena   96    87.0

In [60]:
#RIGHT JOIN

DF6=pd.merge(DF1,DF2,on="name",how="right")
DF6

    name   SQL  Python
0  Mohan   NaN      81
1  Pooja  91.0      82
2   Tina  95.0      83
3  Payal   NaN      84
4  Reena   NaN      85
5  Jinal  93.0      86
6  Leena  96.0      87
7  Umesh   NaN      88